
body {
  font-family: 'Inter', sans-serif;
}

/* Navbar scroll effect */
.scrolled-nav {
  background-color: #4a007a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}


.input-field {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #a855f7;
  color: white;
  placeholder-color: #c4b5fd;
  outline: none;
}

.input-field:focus {
  outline: none;
  ring: 2px solid #c084fc;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fadeInDown 1s ease-out forwards;
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s; 
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #a78bfa; 
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #a78bfa;
}


@media (max-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1 {
        font-size: 3.5rem; 
    }

    p {
        font-size: 1.125rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        display: none; 
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin-bottom: 0.5rem;
    }
}
